@charset "ISO-8859-1";

body {
	background-color: rgb(111, 236, 174);
}

h1,h2,p,form,input {
	text-align: center;
}

div {
	display : flex;
	justify-content: space-around;
}

input, #formRechercheAnnonce,#affichageRechercheAnnonce, #displayListeAnnonce, #displayAnnoncesAdmin {
	margin: 2%;
	font-size : 20px;
	font-weight: bold;
}

h1 {
	border: 2px solid white;
	color: white;
}

h2 {
	color : white;
}

#menu_membre, #menuLogin, #menuLoginAdmin{
	display : flex;
	flex-direction: column;
	justify-content: space-around; 
	align-items: center;
}

#post, #search, #display, #disconnect, #btnConnect,#btnConnect2,#btnConnect3, #btnReturn, #btnReturn2,#btnReturn3, #validerRecherche, #btnAchat, #modif, #delete, #displayAdmin,
#disconnectAdmin, #deleteUser, #deleteAnnonceAdmin {
	width: 30%;
	height: 50px;
	background-color: blue;
	color : white;
	font-weight: bold;
	font-size: 24px;
	border-radius: 15%;
	
}


#boutons, #achat, #boutons2, #espaceAdmin, #boutons3, #boutonsCreaCompte, #image, #boutons4{
	display : flex;
	flex-direction : row;
	justify-content : center;
}

#menuLogin, #welcomeTitle, #menuLoginAdmin, #titleAdmin {
	margin-top: 5%;
	background-color: grey;
	margin-left:20%;
	margin-right:20%;
	padding: 2%;
	border-radius : 15%;
}

#btnConnectAdmin {
	height: 50px;
	background-color: blue;
	color : white;
	font-weight: bold;
	font-size: 24px;
	border-radius: 15%;
}

img {
	border-radius : 15%;
	border: 2px solid white;
	
}




